<!DOCTYPE html>
<html>
<head>
	<title>Lab 2 Ivsnschenko</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
	<header class="header firstBlock">1</header>
	<div id="main">
	<nav class="asideLeft secondBlock">2</nav>
	<article class="fourthBlock">4
		<h1>Lab 2 Game dev</h1>
			<p><b>Evolution</b> for <span class="rText">game</span> алгоритм до неприличия прост: 1-создаем новое поколение популяции 2-отбираем самых приспособленных, остальных удаляем 3-из оставшихся выводим(селекционируем) новое поколение и снова пункт 2 И все это происходит до тех пор, поке не будет найдено решение задачи.</p>
            <p><i>Mechanik</i> for <span class="rText">game</span> У этих событий есть две цели. Во-первых, это базовый мотиватор, который показывает, что игрок постоянно прогрессирует. Все эти действия из-за частоты их появления будут незаметны, но со временем благодаря механикам игры будет заметен рост (похоже речь про апгрейды и рост уровня). Во-вторых, эти события являются своего рода вратами для второго типа мотиваторов — среднесрочных механик.</p>
		<ul class="unsortedList">
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
			<li>Text</li>
		</ul>
	</article>
	<aside class="asideRight fifthBlock">5</aside>
	</div>
	<footer class="footer thirdBlock">3</footer>
</body>
</html>